<div class="relative">
<!--create task-->
<div class="flex items-center justify-center flex-col font-nunito">
  <div class="flex items-center justify-between px-6 bg-gray-950 p-8 w-[80%] my-10">
  <h1 class="text-gray-50 text-4xl font-ysabeau">A Nest.js Todo App</h1>
  <div class="w-12 cursor-pointer" (click)="taskPaneOpen = true">
    <div class="bg-gray-50 w-full h-[2px] my-2"></div>
    <div class="bg-gray-50 w-full h-[2px] my-2"></div>
    <div class="bg-gray-50 w-full h-[2px] my-2"></div>
  </div>
  </div>

  <div class="flex items-center justify-center sm:w-[600px] w-full mt-5">
    <form [formGroup]="createForm" (ngSubmit)="createTodoItem()" class="flex items-center justify-center flex-col w-full mx-auto text-xl">
      <div class="relative z-0 w-full mb-14 group">
        <input name="title" id="title" formControlName="title" type="text" placeholder="" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" required />
        <label for="title" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-0 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
          What's the name of your task?<span class="text-red-600">*</span>
        </label>
      </div>

      <div class="relative z-0 w-full mb-14 group">
        <textarea name="description" placeholder="" formControlName="description" id="description" rows="2" cols="10" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" required></textarea>
        <label for="description" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-0 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
          What's your task about?<span class="text-red-600">*</span>
        </label>
      </div>
      
      <div class="relative z-0 w-full mb-14 group">
        <input name="date" id="date" formControlName="date" placeholder="" type="date" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" required />
        <label for="date" class="peer-focus:font-medium text-lg absolute text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-0 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
          When is your task due?<span class="text-red-600">*</span>
        </label>
      </div>
      
      <div class="relative z-0 w-full mb-14 group">
        <input name="creator" placeholder="" id="creator" formControlName="creator" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" required />
        <label for="creator" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-0 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
          Who created this task? (Your name)<span class="text-red-600">*</span>
        </label>
      </div>
      <button type="submit" class="text-gray-50 disabled:bg-gray-500 disabled:hover:bg-gray-500 text-base bg-gray-950 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg w-full sm:w-auto px-8 py-4 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800 font-ysabeau">Save your task</button>
    </form>
  </div>
</div>

<!--todo items list-->
<div *ngIf="taskPaneOpen" class="w-full h-[100vh] bg-[rgba(0,0,0,0.6)] absolute top-0 transition">
<div class=" bg-white shadow-md sm:w-[85%] w-[95%] h-[100vh] rounded-lg right-0 overflow-auto">
  <div class="cursor-pointer absolute right-0 m-5 bg-white p-3" (click)="taskPaneOpen = false">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
  </div>

  <div class="mt-20 flex items-center justify-center flex-col">
    <h1 class="text-3xl uppercase font-black">My List</h1>
    <p class="text-gray-500 py-2">Find all your todo items here!</p>

  <div *ngIf="!todoList.length" class="flex items-center justify-center mt-20">
    <p><span class="mx-2">&RightArrow;</span> You've not added any item to your todo list</p>
  </div>

  <div class="flex items-start justify-start flex-wrap w-full p-10">
  <div *ngFor="let item of todoList" class="w-[25%] m-4 border-2 border-gray-400 rounded-md">
      <div class="font-alegreya p-5">
      <h1 class="uppercase font-medium py-2">{{item.title}}</h1>
      <p class="py-2 mb-2 border-b flex flex-col">
        <small class="text-[11px] text-gray-300">Details</small>
        {{ item.description }}
      </p>
        <div class="py-2 flex items-center justify-between mb-3">
          <p class="font-greatVibes text-xl capitalize">{{ item.creator }}</p>
          <small><span>Due By: </span>{{ item.date | date }}</small>
        </div>
      </div>

    <div class="flex items-center justify-between bg-gray-100 py-3 px-1 w-full font-ysabeau">
      <button class="bg-gray-950 text-gray-50 px-3 py-2 w-[49%] hover:bg-gray-800" (click)="editTodoItem(item)">Edit</button>
      <button class="bg-gray-950 text-gray-50 px-3 py-2 w-[49%] hover:bg-gray-800" (click)="deleteTodoItem(item.id)">Delete</button>
    </div>
  </div>

</div>
  </div>
</div>
</div>

<!--update modal-->
<div *ngIf="updateModalOpen" class="w-full h-[100vh] bg-[rgba(0,0,0,0.6)] flex items-center justify-center absolute top-0 transition-opacity">
  <div class="sm:w-[600px] w-[85%] bg-white rounded-md p-7">
    <div class="cursor-pointer w-full flex items-end justify-end mr-10" (click)="updateModalOpen = false">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
    </div>
  <form [formGroup]="updateForm" (ngSubmit)="updateTodoItem()" class="flex items-center justify-center flex-col w-full mx-auto text-xl">
    <div class="relative z-0 w-full mb-14 group">
      <input formControlName="title" name="title" id="title" type="text" placeholder="" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" required />
      <label for="title" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-0 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        What's the new name of your task?
      </label>
    </div>

    <div class="relative z-0 w-full mb-14 group">
      <textarea formControlName="description" value={{updatedTodoList.description}} name="description" placeholder="" id="description" rows="2" cols="10" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" required></textarea>
      <label for="description" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-0 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        What's your task about?
      </label>
    </div>
    
    <div class="relative z-0 w-full mb-14 group">
      <input formControlName="date" value={{updatedTodoList.date}} name="date" id="date" placeholder="" type="date" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" required />
      <label for="date" class="peer-focus:font-medium text-lg absolute text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-0 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        When is your task due?
      </label>
    </div>
    
    <div class="relative z-0 w-full mb-14 group">
      <input formControlName="creator" value={{updatedTodoList.creator}} name="creator" placeholder="" id="creator" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" required />
      <label for="creator" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-0 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        Who edited this task? (Your name)
      </label>
    </div>
    <button type="submit" class="text-gray-50 text-base bg-gray-950 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg w-full sm:w-auto px-8 py-4 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800 font-ysabeau">Save your task</button>
  </form>
</div>
</div>