.todo-card {
    -webkit-box-shadow: -2px 6px 300px -100px rgba(3,3,3,1);
    -moz-box-shadow: -2px 6px 300px -100px rgba(3,3,3,1);
    box-shadow: -2px 6px 300px -100px rgba(3,3,3,1);
}

.slide-in {
    opacity: 0;                
    transform: translateX(-20px); 
  
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.slide-in .active {
    opacity: 1;            
    transform: translateX(0); 
}